---
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mind the Tide band</title>
    <meta name="author" content="Mind the Tide" />
    <meta name="description" content="Mind the Tide band" />
    <link
      rel="canonical"
      href="{{ site.url }}{{ page.url | replace:'index.html','' }}"
    />
    <link rel="shortcut icon" href="assets/favicon.ico" />

    <link
      rel="stylesheet"
      href="{{ site.url }}/assets/css/normalize.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ site.url }}/assets/css/skeleton.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ site.url }}/css/styles.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div>Test 1</div>
        <div>Test 2</div>
      </nav>
    </div>
    <main>
      <div class="hero-container">
        <img class="hero-img" src="/assets/img/hero_bg.webp" />
        <img class="logo" src="/assets/img/logo_no_bg.png" />
      </div>
    </main>
    <section id="demos">
      <div class="container">
        <div class="row centered-flex">
          <div class="four columns demos-text">
            <h3>Demos</h3>
          </div>
          <div class="eight columns">{% include soundcloud.html %}</div>
        </div>
      </div>
    </section>
    <div>{% include analytics.html %}</div>
  </body>
</html>
