---
---

<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mind the Tide band</title>
    <meta name="author" content="Mind the Tide" />
    <meta name="description" content="Mind the Tide band" />
    <link
      rel="canonical"
      href="{{ site.url }}{{ page.url | replace:'index.html','' }}"
    />
    <link rel="shortcut icon" href="assets/favicon.ico" />

    <script
      src="https://kit.fontawesome.com/d921a2f4d9.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="{{ site.url }}/assets/css/normalize.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ site.url }}/assets/css/skeleton.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ site.url }}/css/styles.css"
      type="text/css"
    />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <div><a href="#demos">Demos</a></div>
        <div><a href="#upcoming-shows">Upcoming Shows</a></div>
        <div><a href="#contact">Contact</a></div>
        <div>|</div>
        <div>
          <a href="https://soundcloud.com/mind-the-tide-band"
            ><i class="fa-brands fa-soundcloud"></i
          ></a>
        </div>
        <div>
          <a href="https://www.youtube.com/channel/UCvAknJUuaXEVEzUqoZQwrxg"
            ><i class="fa-brands fa-youtube"></i
          ></a>
        </div>
      </nav>
    </div>
    <main>
      <div class="hero-container">
        <!-- For Mobile -->
        <img
          class="hero-img hero-tall"
          src="/assets/img/band_cropped_tall.jpg"
        />
        <!-- For Desktop -->
        <img
          class="hero-img hero-short"
          src="/assets/img/band_cropped_short.jpg"
        />
        <img class="logo" src="/assets/img/logo_no_bg.png" />
      </div>
      <section id="bio">
        <div class="container">
          <div class="row centered-flex">
            <div class="double-wide max-phablet">
              <h1>MIND THE TIDE</h1>
              is a Midwest Emo band from Indianapolis, Indiana formed in 2022.
              Our sound comes from a wide range of influences, combining
              elements of math rock, pop punk, hardcore, and megachurch ambient
              guitar.
            </div>
            <div class="">
              <h2>Members</h2>
              <ul>
                <li>Jonathan Bayless - Guitar, Vocals</li>
                <li>Tony Hall - Bass, Vocals</li>
                <li>Ram Dent - Drums</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div class="container"><hr /></div>
      <section id="demos">
        <div class="container">
          <div class="row centered-flex">
            <div class="four columns demos-text">
              <h3>Demos</h3>
            </div>
            <div class="eight columns">{% include soundcloud.html %}</div>
          </div>
        </div>
      </section>
      <div class="container"><hr /></div>
      <section id="upcoming-shows">
        <div class="container upcoming-shows">
          <h1>Upcoming Shows</h1>
          {% if site.data.shows %}
          <table class="u-full-width shows-table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Venue</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody>
              {% for show in site.data.shows %}
              <tr>
                <td>{{ show.date }}</td>
                <td>{{ show.venue }}</td>
                <td>{{ show.location }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>
            No shows booked currently,
            <a href="mailto:mindthetideband@gmail.com">let us know</a> if
            there's somewhere we should play!
          </p>
          {% endif %}
        </div>
      </section>
      <div class="container"><hr /></div>
      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="six columns">
              <div class="riders-title"><h1>Info</h1></div>
              <div class="riders">
                <div>
                  <a
                    href="https://drive.google.com/drive/folders/1W4Jcaa7HCPUfGXwIcfiJUANly9GdARxP?usp=sharing"
                    >Logos + Images</a
                  >
                </div>
              </div>
            </div>
            <div class="six columns">
              <div class="contact-title"><h1>Contact</h1></div>
              <div class="contact-links">
                <div>
                  <a href="mailto:mindthetideband@gmail.com"
                    ><i class="fa-regular fa-envelope"></i
                  ></a>
                </div>
                <div>
                  <a href="https://twitter.com/mindthetideband">
                    <i class="fa-brands fa-twitter"></i
                  ></a>
                </div>
                <div>
                  <a href="https://www.instagram.com/mindthetideband/"
                    ><i class="fa-brands fa-instagram"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="container"><hr /></div>
      <section id="footer">© 2023 by Mind the Tide</section>
    </main>
    <div>{% include analytics.html %}</div>
  </body>
</html>
